@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #f9fafb; /* bg-gray-50 */
  color: #111827; /* text-gray-900 */
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
